@import "font-awesome";

body {
  background-color: #21212b;
  font-family: Arial, Helvetica, sans-serif;
}

.radio-card {
  background-color: #2e2e38;
  min-height: 330px;
  width: 250px;
  margin: 50px;
  border-radius: 25px;
  position: relative;
}

.radio-card p {
  font-size: 17px;
  color: rgb(158, 158, 158);
  margin: 0;
}

.radios-header {
  background-color: #edae61;
  height: 60px;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}

.radios-header h1 {
  font-size: 17px;
  color: white;
  font-weight: 600;
}

.radios-header i {
  font-size: 20px;
  color: white;
}


.radios-list {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3f3f49;
}

.radios-list:last-child{
  border-bottom: none;
}

.radios-footer {
  background-color: #22222a;
  height: 60px;
  border-radius: 0 0 25px 25px;
  border-top: 1px solid #3f3f49;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.radios-footer h2 {
  padding-top: 5px;
  font-size: 10px;
  color: #ddab64;
}
